*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
nav{
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}
button{
    padding: 15px 20px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.hero2 {
    align-items: center;
    text-align: center;
    padding-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero h1{
    font-size: 50px;
}
.button{
    display: flex;
    gap: 30px;
}
.btn2{
    color: white;
    background-color: blue;
    border-radius: 10px;
}
@media(max-width:1024px){

    .hero{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

}
@media(max-width:767px){
    nav ul{
        display: none;
       
    }
    .hero2{
        order:2;
    }
    .hero3{
        order:1;
    }
}